.icons {
    font-size: 19px;
}

.button {
    margin-top: 15px;
    margin-bottom: -70px;
}

.deleteNote{
    margin-left: 15px;
    font-size: 17px;
    cursor: pointer;
}
.more_vert{
    margin-left: -30px;
}

// .icons{
//     margin-top: -20px;
// }
// .unArchive{
//     margin-top: 3px;
// }