<div fxLayoutAlign="center center">
  <mat-card class="matCard">
    <div>
      <mat-form-field appearance="outline" fxFlex="100">
        <mat-label>Enter Email</mat-label>
        <input matInput placeholder="Enter email"  [formControl]="userEmail" />
        <mat-error *ngIf="userEmail.invalid">{{getErrorMessage()}}</mat-error>
        <mat-icon matSuffix>mail</mat-icon>
        <mat-hint>Enter Email</mat-hint>
      </mat-form-field>
    </div>
    <div fxLayoutAlign="center center">
      <button mat-raised-button color="primary" (click)="next()">Next</button>
    </div>
  </mat-card>
</div>
