<div [formGroup]="formData" fxLayoutAlign="center center">
    <mat-card class="matCard" *ngIf="!isPopUp" (click)="openMatCard()" fxFlex.gt-md="43" fxFlex.gt-sm="35"
        fxFlex.gt-xs="30">
        <div>
            <input class="title" placeholder="Take a note.." fxFlex="100" />
        </div>
    </mat-card>
    <mat-card class="matCard" *ngIf="isPopUp" fxFlex.gt-md="43" fxFlex.gt-sm="35" fxFlex.gt-xs="30">
        <div fxLayout="column">
            <div>
                <input class="title" matInput placeholder="Title" formControlName="title" fxFlex="100" />
            </div>
            <div fxLayout="column" fxLayoutGap="10px">
                <div>
                    <input class="title" placeholder="Take a note.." formControlName="discription" fxFlex="100" />
                </div>
            </div>
            <div fxLayout="row" fxLayoutGap.md="3pc">
                <app-icons [archivedNote]="noteArchive"></app-icons>
                <div>
                    <div class="close">
                        <button mat-button (click)="openMatCard() ; createNote() ">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
</div>