<div class="matCard" fxLayout="row wrap" fxLayoutGap="5px">
    <mat-card [ngStyle]="{'background-color': note.color}">
        <div>{{note.title}}</div>
        <div>{{note.discription}}</div>
        <mat-chip-list class="matChip">
            <mat-chip *ngIf="note.remainder!==null">
                {{note.remainder}}
                <mat-icon matChipRemove *ngIf="removable" (click)="removeRemainder()">cancel</mat-icon>
            </mat-chip>
            <mat-chip *ngFor="let item of note.collabrator">
                <mat-icon matTooltip="{{item.userEmail}}" (click)="openDialougeBox()">person_add</mat-icon>
            </mat-chip>
            <mat-chip *ngFor="let item of note.label"> {{item}}
            </mat-chip>
        </mat-chip-list>
        <div *ngFor="let item of collabrator" fxLayout="row">
            <button (click)="openDialougeBox()">person_add</button>
        </div>

        <app-icons class="icon" [archivedNote]="note" (colorEvent)="setColor($event)"
            (remainderEvent)="addRemainder($event)" (collabrator)="openDialougeBox()" (delete)="deleteNote()"
            (archive)="setArchive()" (unArchive)="unArchive()" (labels)="addLableToNote($event)"></app-icons>
    </mat-card>
</div>