.matCard {
    margin-top: 10px;
    margin-left: 5pc;
    // height: 115px;
    // width: 240px;
}

.buttons{
      display: table-cell;

}
.matChip{
    // margin: 5px;
    margin-left: 4px;
    margin-bottom: -150pc;
    // margin-top: -80px;
}

.icon{
    margin-top: -100px;
    margin-bottom: -35pc;
}