<div [formGroup]="passwordData">
    <mat-card class="matCard" fxLayoutAlign="center center">
        <div>
            <p fxLayoutAlign="start center" class="p">Change Password</p>
            <mat-form-field appearance="outline" style="font-size: 15px;" class="formField">
                <mat-label>Enter Password</mat-label>
                <input matInput placeholder="Enter Password" formControlName="password" />
                <mat-hint>Password</mat-hint>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" style="font-size: 15px;" class="formField">
                <mat-label>ReEnter Password</mat-label>
                <input matInput placeholder="ReEnter Password"  formControlName="confirmPassword"/>
                <mat-hint>ReEnter Password</mat-hint>
            </mat-form-field>
        </div>
        <button class="changePasswordButton" mat-raised-button color="primary" (click)="changePassword()">Change Password</button>
    </mat-card>
</div>