.matCard{
    width: 20vw;
    margin-left: 27pc;
    margin-top: 10pc;
    background-color: gray;
}

.p{
    font-size: 25px;
    margin-left: 23px;
}

.formField{
    margin-left: 5px;
    width: 100%;
}

.changePasswordButton{
    margin-top: 2px;
    margin-left: 4pc
}