.formSize {
  height: -webkit-fill-available;
}

.matCard {
  width: 37pc;
  // margin-left: 17pc;
  // margin-top: 5pc;
}
.login {
  margin-left: 14pc;
  font-size: 2pc;
}

.formField{
    width: 80%;
    margin-left: 20px;
    margin-top: 10px;

}
.forgetPassword{
    margin-left: 3px;
    margin-top: 10px;
}

.next{
    margin-left: 22pc;
}