<mat-toolbar class="toolbar" color="white">
  <button mat-mini-fab color="white" (click)="drawer.toggle()">
    <mat-icon> menu </mat-icon>
  </button>
  <div fxLayout.xs="column">
    <img class="image" src="../../../assets/keep.jpg" />
  </div>
  <span class="fundooTitle" fxFlex.xs="100">{{title}}</span>
  <div fxFlex="60">
    <mat-card class="titleMatCard" fxFlex="89">
      <div>
        <!-- <mat-icon class="searchIcon">search
        </mat-icon> -->
        <input type="text" [(ngModel)]="inputValue" (keyup)="searchKey()" matInput class="inputBox" placeholder="Search"
          fxFlex="80" />
        <!-- <div *ngIf="input.length>0">clear</div> -->
        <!-- <mat-icon class="searchIcon">clear
        </mat-icon> -->
      </div>
    </mat-card>
  </div>
  <div fxLayout="row" fxLayoutGap="5pc">
    <div class="refresh">
      <button mat-icon-button>
        <mat-icon>refresh</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>view_agenda</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>settings</mat-icon>
      </button>
    </div>
    <div>
      <button mat-icon-button>
        <mat-icon>apps</mat-icon>
      </button>
      <button mat-icon-button (click)="signOut()" matTooltip="signOut">
        <mat-icon>account_circle</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div fxLayout="row"  class="listItem" routerLink="/dashboard/notes" routerLinkActive="notes">
      <mat-icon class="listIcons">lightbulb_outline</mat-icon>
      <div class="title">notes</div>
    </div>
    <div fxLayout="row" class="listItem" routerLink="/dashboard/remainders" routerLinkActive="notes">
      <mat-icon class="listIcons">notifications_none</mat-icon>
      <div class="title">remainders</div>
    </div>

    <div fxLayout="row" *ngFor="let item of labels" class="listItem">
      <mat-icon class="listIcons">label_outline</mat-icon>
      <p class="label">{{item}}
      </p>
    </div>
    <div fxLayout="row" class="listItem">
      <mat-icon matListIcon>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path
            d="M20.41 4.94l-1.35-1.35c-.78-.78-2.05-.78-2.83 0L13.4 6.41 3 16.82V21h4.18l10.46-10.46 2.77-2.77c.79-.78.79-2.05 0-2.83zm-14 14.12L5 19v-1.36l9.82-9.82 1.41 1.41-9.82 9.83z">
          </path>
        </svg>
      </mat-icon>
      <div class="title" (click)="editLabels()">edit labels</div>
    </div>
    <div fxLayout="row" class="listItem">
      <mat-icon class="listIcons">archive</mat-icon>
      <div class="title" routerLink="/dashboard/archive" routerLinkActive="notes">archive</div>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>